<table style="width:50%">
  <tr>
    <td>Name</td>
    <td><%= @cat.name%></td>
  </tr>
  <tr>
    <td>Color</td>
    <td><%= @cat.color%></td>
  </tr>
  <tr>
    <td>Sex</td>
    <td><%= @cat.sex%></td>
  </tr>
  <tr>
    <td>Age</td>
    <td><%= "#{@cat.age} years old" %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= @cat.description%></td>
</table>
